.features__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e8e9ed;
  margin: 5% 10%;
}
.features__wrapper {
  margin: 5% 10%;
}
.features__main-title {
  font-size: 18px;
  color: #221f1f;
  font-family: "Gotham Pro";
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.features__title {
  font-size: 11px;
  letter-spacing: 2.5px;
  color: #212121;
  font-family: 'Gotham Pro';
  font-weight: bold;
  text-align: center;
}

.features__description {
  font-size: 18px;
  line-height: 30px;
  color: #221f1f;
  font-family: 'Gotham Pro';
}

.features__subtitle p {
  margin-bottom: 5px;
  text-align: center;
}

.features__sublist .features__unit {
  list-style-type: disc;
}

.features__sublist {
  padding-left: 25px;
}

.features__unit {
  margin-left: 0px;
  margin-bottom: 4px;
  color: #cc3366;
  padding-left: 20px;
}

.features__unit_color {
  color: black;
}