.footer {
  display: flex;
  background-color: #27273e;
  color: #ffffff;
  margin-top: auto;
}

.footer__container {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 12px 21px;
}

.author {
  width: 280px;
  letter-spacing: .8px;
}

.author__link {
  color: #ffffff;
  font-family: 'Gotham Pro';
  line-height: 18px;
}

.author__link {
  font-weight: bold;
  transition-duration: .5s;
}

.author__link:hover {
  color: #ec1e79;
}

.author__link_student {
  text-decoration: none;
}

.footer-logo__container {
  width: 99px;
  margin:0;
}