.partners {
  margin-bottom: 40px;
}

.partners__list {
  max-width: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}

.partners__item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 160px;
  /*margin-right: 100px;*/
}
.partners__item:nth-child(3n-1) {
  width: 50%;
}
/*
.partners__item:last-child {
  margin-right: 139px;
}
.partners__item:nth-child(2) {
  margin-right: 117px;
}
.partners__item:nth-child(5) {
  margin-right: 154px;
}*/